html, body {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

/*comment out later*/
header, nav, section, footer {
	background-color: #ddd;
	/*height: 400px;*/
	margin: 20px;
}

header {
	position: relative;
}

nav {
	position:relative;
	padding: 40px;
}

section {
	background-color: purple;
	overflow: auto;
}


.redbox {
	height: 200px;
	width: 200px;
	background-color: red;
	/*visibility: hidden; (properties height and width are still there but cannot see it) */
	/*display: none; (removes element as if it never existed) */
	position: relative;
	top: 20px;
	left: 20px;	
	z-index: 1;
}

.bluebox {
	height: 200px;
	width: 200px;
	background-color: blue;
	z-index: 999;
}


.movie {
	position: absolute;
	top: 10px;
	right: 10px;
}

.left {
	background-color: pink;
	width: 178px;
	float: left;
	padding: 10px, 10px, 10px, 10px;
	border: 1px solid red;
}


.right {
	background-color: purple;
	width: 780px;
	float: right;
	padding: 10px, 10px, 10px, 10px;
}







